<div class="col-md-12">
  <div class="group">
  <%= form_tag homes_path, :method => :get do %>
  选择区县
  <%= select_tag :dist_ids, options_for_select(District.all.map{ |c| [c.name, c.id] }, params[:dist_ids]), :multiple => true , :class => "form-control" %>
  选择时间
  <%= select_tag :ed_ids, options_for_select(Eventdate.all.map{ |c| [c.name, c.id] }, params[:ed_ids]), :multiple => true , :class => "form-control" %>
  <%= submit_tag "查询" %>
  <% end %>
  </div>

  <% if current_user && current_user.is_admin %>
  <div class="group">
    <%= link_to("添加茶家", new_home_path, class: "btn btn-primary pull-right") %>
  </div>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>名字</td>
        <td>地址</td>
      </tr>
    </thead>
    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td><%= link_to(home.name, home_path(home)) %></td>
          <td><%= home.address %></td>
          <% if current_user && current_user.is_admin %>
          <td>
              <%= link_to("Edit", edit_home_path(home), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", home_path(home),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= will_paginate @homes %>
</div>

<script>
  $("#ed_ids").select2();
  $("#dist_ids").select2();
</script>
