<div class="col-md-12">
  <% if current_user && current_user.is_admin %>
  <div class="group">
    <%= link_to("添加茶家", new_home_path, class: "btn btn-primary pull-right") %>
  </div>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>名字</td>
        <td>地址</td>
      </tr>
    </thead>
    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td><%= link_to(home.name, home_path(home)) %></td>
          <td><%= home.address %></td>
          <td>
              <%= link_to("Edit", edit_home_path(home), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", home_path(home),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
